@model IEnumerable<cldv_poe.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<p>
    <form asp-action="AddCustomer" method="get" style="display:inline;">
        <button type="submit" class="btn btn-primary">Add Customer</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <form asp-action="DeleteCustomer" method="post" style="display:inline;">
                        <input type="hidden" name="rowKey" value="@item.RowKey" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Customer');">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
